.App {
  text-align: center;
}

select {
  padding: 4px 70px;
}

.topRight {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 200px;
  padding: 5px;
}

.frame {
  position: fixed;
  right: 0px;
  bottom: 0px;
  background-color: lightblue;
  padding: 5px;
}

button {
  width: 120px;
  margin: 10px auto;
  padding: 10px;
  color: black;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid green;
}

.consent-submit {
  width: 120px;
  margin: 10px auto;
  padding: 10px;
  color: black;
  background-color: white;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

.consent-form {
  border: 1px solid lightgray;
  text-align: center;
  margin: 30px 20px;
  margin: auto;
  line-height: 24px; /* Adjust line-height for better readability on mobile */
  -webkit-box-shadow: 0 10px 6px -6px lightgray;
  -moz-box-shadow: 0 10px 6px -6px lightgray;
  box-shadow: 0 10px 6px -6px lightgray;
  max-width: 900px;

  padding: 20px 30px;
}

@media (max-width: 768px) {
  /* Apply these styles only for screens with a max width of 768px (typical mobile devices) */
  .consent-form {
    margin: 20px; /* Adjust margin further for smaller screens */
    padding: 10px; /* Adjust padding further for smaller screens */
    line-height: 20px; /* Further adjust line-height for better readability on smaller screens */
    display: flex;
    flex-direction: column;
  }

  button {
    width: 40%;
    margin: 10px auto;
    padding: 10px;
    color: black;
    background-color: white;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid green;
  }
}
